
.experience{
    margin-top: 20px;
}
.experience h1{ 
    color: #005B21;
}

.card-custom  img{
    height: 300px;
    transition: transform 1.5s;
   

   

}
.card-custom:hover img{
    transform: scale(1.05)
    

}