/* .service-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.card-custom{
    width: 30%;
}
.card-custom img{
    width: 100%;
} */