

.left-dash{
    height: 100%;
    background-color: rgb(44, 39, 56);
    color:white
}
.cursor-pointer{
    cursor: pointer;

}
.cursor-pointer:hover{
    color: blue;
}
.mangeData{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    
    
}

@media(max-width:700px){
   .dash-container{
       height: fit-content;
   }
   .left-dash{
       height: fit-content;
   }
}