.addservice-container{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.877);

}


.Event-container, input,textarea {
    width: 80%;
    border-radius: 10px;
    margin-top: 10px;
}
